<div class=" col-md-4 mt-5">
    <div class="card shadow rounded">
        <div class="inner">
            <img class="card-img-top" src="{{image}}">
        </div>
        <div class="card-text text-center mb-3">
            <h5 class="card-title mt-2 mx-3">{{title}}</h5>
            <p class="card-text mx-2">{{{shortText content 100}}}
            </p>
            <p id="date">Posted on {{format_date createdAt}} by {{#if user.username}}{{user.username}}{{else}} N/A
                {{/if}}</p>
            <a href="/blog/{{id}}" class="read-more-link"><i
                    class="fa-solid fa-book-open-reader"></i>&nbsp&nbsp&nbspSign Up & Read
                More</a>
        </div>
    </div>
</div>